*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    justify-content: center;
    text-align: center;
    display: flex;
    background-color: black;
    height: 100px;
}
.imagemheader{
    align-items: center;
    
}
.titulodois{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    margin-bottom: 40px;
}
.legendaum{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    font-weight: 50px;
}
.conteudo1{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.listadealbuns{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 50px;
    font-weight: 30px;
}
.introducaoasfotos{
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.wishyouwherehere{
    height: 200px;
    width: auto;
}
.imagemwish{
    padding-left: 20px;
    margin-top: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    
}
.imgthedark{
   display: flex;
   padding-left: 10px ;
   height: 200px;
   width: auto;
}
.theanimals{
   justify-content: center;
    height: 200px;
    padding-left: 10px ;
}
.final{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 70px;
}

footer{
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    justify-content: center;
    height: 50px;
    margin-top: 100px;
    padding: 0px;
    background-color: black;
    color: white;
}